<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News Article Classifier</title>
    <style>
        textarea {
        resize: none;
        }
        button{
            width: 180px;
            height: 60px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }
        body {
            background-color: lightgrey;
            text-align: center;
            padding: 0px;
        }
    </style>
</head>
<body>
    <div class="container">

        <h2>NATURAL LANGUAGE PROCESSING APPLICATION</h2>

    </div>
    <form method="POST" >
            <h2>BBC News Article Classifier</h2>
            <h3>The application helps you classify the category of the Article</h3>
            <textarea id="article" name="article" rows="10" cols="100"></textarea>
            <br><br><button id="button" type="submit">Classify Article</button>
            <br>
    </form>
    <p>{{text}}</p>

</body>
</html>
